.button {
    color: #666;
    background-color: #EEE;
    border-color: #EEE;
    font-weight: 300;
    font-size: 2.25rem;
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-decoration: none;
    text-align: center;
    padding: 0.625rem 2.5rem;
    margin: 0;
    display: inline-block;
    appearance: none;
    cursor: pointer;
    border: none;
    box-sizing: border-box;
    transition-property: all;
    transition-duration: .3s;
}

.button:visited {
    color: #666;
}

.button:hover,
.button:focus {
    background-color: #f6f6f6;
    text-decoration: none;
    outline: none;
}

.button:active,
.button.active,
.button.is-active {
    text-shadow: 0 0.0625rem 0 rgba(255, 255, 255, 0.3);
    text-decoration: none;
    background-color: #eeeeee;
    border-color: #cfcfcf;
    color: #d4d4d4;
    transition-duration: 0s;
    box-shadow: inset 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.2);
}

.button.disabled,
.button.is-disabled,
.button:disabled {
    top: 0 !important;
    background: #EEE !important;
    border: 0.0625rem solid #DDD !important;
    text-shadow: 0 0.0625rem 0.0625rem white !important;
    color: #CCC !important;
    cursor: default !important;
    appearance: none !important;
    box-shadow: none !important;
    opacity: .8 !important;
}

.button-primary {
    background-color: #1B9AF7;
    border-color: #1B9AF7;
    color: #FFF;
}

.button-primary:visited {
    color: #FFF;
}

.button-primary:hover,
.button-primary:focus {
    background-color: #4cb0f9;
    border-color: #4cb0f9;
    color: #FFF;
}

.button-primary:active,
.button-primary.active,
.button-primary.is-active {
    background-color: #2798eb;
    border-color: #2798eb;
    color: #0880d7;
}

.button-action {
    background-color: #A5DE37;
    border-color: #A5DE37;
    color: #FFF;
}

.button-action:visited {
    color: #FFF;
}

.button-action:hover,
.button-action:focus {
    background-color: #b9e563;
    border-color: #b9e563;
    color: #FFF;
}

.button-action:active,
.button-action.active,
.button-action.is-active {
    background-color: #a1d243;
    border-color: #a1d243;
    color: #8bc220;
}

.button-pill {
    border-radius: 12.5rem;
}

.button-raised {
    border-color: #e1e1e1;
    border-style: solid;
    border-width: 0.0625rem;
    background: linear-gradient(#f6f6f6, #e1e1e1);
    box-shadow: inset 0rem 0.0625rem 0rem rgba(255, 255, 255, 0.3), 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.15);
}

.button-raised:hover,
.button-raised:focus {
    background: linear-gradient(top, white, gainsboro);
}

.button-raised:active,
.button-raised.active,
.button-raised.is-active {
    background: #eeeeee;
    box-shadow: inset 0rem 0.0625rem 0.1875rem rgba(0, 0, 0, 0.2), 0rem 0.0625rem 0rem white;
}

.button-raised.button-primary {
    border-color: #088ef0;
    background: linear-gradient(#34a5f8, #088ef0);
}

.button-raised.button-primary:hover,
.button-raised.button-primary:focus {
    background: linear-gradient(top, #42abf8, #0888e6);
}

.button-raised.button-primary:active,
.button-raised.button-primary.active,
.button-raised.button-primary.is-active {
    border-color: #0880d7;
    background: #2798eb;
}

.button-raised.button-action {
    border-color: #9ad824;
    background: linear-gradient(#afe24d, #9ad824);
}

.button-raised.button-action:hover,
.button-raised.button-action:focus {
    background: linear-gradient(top, #b5e45a, #94cf22);
}

.button-raised.button-action:active,
.button-raised.button-action.active,
.button-raised.button-action.is-active {
    border-color: #8bc220;
    background: #a1d243;
}

.button-highlight,
.button-highlight-flat {
    background-color: #FEAE1B;
    border-color: #FEAE1B;
    color: #FFF;
}

.button-highlight:visited,
.button-highlight-flat:visited {
    color: #FFF;
}

.button-highlight:hover,
.button-highlight:focus,
.button-highlight-flat:hover,
.button-highlight-flat:focus {
    background-color: #fec04e;
    border-color: #fec04e;
    color: #FFF;
}

.button-highlight:active,
.button-highlight.active,
.button-highlight.is-active,
.button-highlight-flat:active,
.button-highlight-flat.active,
.button-highlight-flat.is-active {
    background-color: #f3ab26;
    border-color: #f3ab26;
    color: #e59501;
}


.button-glow {
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-name: glowing;
}

.button-glow:active,
.button-glow.active,
.button-glow.is-active {
    animation-name: none;
}

.button-glow.button-highlight {
    animation-name: glowing-highlight;
}

.button-3d {
    position: relative;
    top: 0;
    box-shadow: 0 7px 0 #bbbbbb, 0 8px 3px rgba(0, 0, 0, 0.2);
}

.button-3d:hover,
.button-3d:focus {
    box-shadow: 0 7px 0 #bbbbbb, 0 8px 3px rgba(0, 0, 0, 0.2);
}

.button-3d:active,
.button-3d.active,
.button-3d.is-active {
    top: 5px;
    transition-property: all;
    transition-duration: .15s;
    box-shadow: 0 2px 0 #bbbbbb, 0 3px 3px rgba(0, 0, 0, 0.2);
}

.button-box {
    border-radius: 10px;
}