@mixin letterSpacing($text) {
    letter-spacing: $text;
    text-indent: $text;
}

@mixin linearGradientText($color1, $color2, $color3) {
    background: -webkit-linear-gradient($color1, $color2, $color3);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}